<% if alert %>
	<div class="alert alert-error"><%= alert%> <span class="close" data-dismiss="alert">&times;</span></div>
<% end %>
<% if notice %>
	<div class="alert alert-success"><%= notice %> <span class="close" data-dismiss="alert">&times;</span></div>
<% end %>